main {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(64px, 64px));
    grid-template-columns: repeat(auto-fit, minmax(64px, 64px));
    gap: 8px;
}

::ng-deep .app-window {
    position: absolute;
    top: 24px;
    left: 24px;
    background: gray;
    border-radius: 8px;
    min-width: 350px;
    min-height: 400px;
    border: 1px solid black;
    user-select: none;

    &:focus {
        box-shadow: 0 0 4px 8px aqua;
    }
}