#root {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 48px;

  main {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(125px, 125px));
    grid-template-columns: repeat(auto-fit, minmax(125px, 125px));
  }
}