* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: dm, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: aliceblue;
}

html {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    background: #242424;
}

body {
    height: 100%;
    width: 100%;
    position: relative;

    .window-container {
        position: absolute;
        inset: 0;
        pointer-events: none;
    }
}

app-root {
    display: flex;
    height: 100%;
    width: 100%;
}